<%= simple_form_for(@mobile) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :source %>
    <%= f.input :quotation %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
