<% title "All mobiles" %>

<% @mobiles.each do |mobile| %>
<article class="index">
  <div class="attribute">
    <span class="name">Source</span>
    <span class="value"><%= mobile.source %></span>
  </div>
    <div class="attribute">
    <span class="name">Quotation</span>
    <span class="value"><%= mobile.quotation %></span>
  </div>
    <div class="links">
    <%= link_to 'Show', mobile %> |
    <%= link_to 'Edit', edit_mobile_path(mobile) %> |
    <%= link_to 'Destroy', mobile, confirm: 'Are you sure?', method: :delete %>
  </div>
</article>
<% end %>

<div class="link">
  <%= link_to 'New Mobile', new_mobile_path %>
</div>
<%= paginate @mobiles %>
