<%= simple_form_for(@artykul) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :autor %>
    <%= f.input :tresc %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
