<h1>Listing artykuls</h1>

<table>
  <tr>
    <th>Autor</th>
    <th>Tresc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artykuls.each do |artykul| %>
  <tr>
    <td><%= artykul.autor %></td>
    <td><%= artykul.tresc %></td>
    <td><%= link_to 'Show', artykul %></td>
    <td><%= link_to 'Edit', edit_artykul_path(artykul) %></td>
    <td><%= link_to 'Destroy', artykul, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artykul', new_artykul_path %>
