<p id="notice"><%= notice %></p>

<p>
  <b>Autor:</b>
  <%= @artykul.autor %>
</p>

<p>
  <b>Tresc:</b>
  <%= @artykul.tresc %>
</p>


<%= link_to 'Edit', edit_artykul_path(@artykul) %> |
<%= link_to 'Back', artykuls_path %>
