<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>Happysad</title>
  <%= stylesheet_link_tag    "application" %>
<%= stylesheet_link_tag    "style-adjustments" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div id="container">
		<div class="clearfix"></div>
		
		<div id="main" role="main">			
			<aside>
				<div id="sidebar-top">
					<div id="sidebar-top-right"></div>
				</div><!-- close #sidebar-top -->
				
				<div id="sidebar-container-bg-left">
					<div id="sidebar-container-bg-right">
						<div id="sidebar-container">
							
						<header>
							<a href="index.php"><img src="assets/images/logo.png" alt="logo" /></a>
						</header>
						
						<nav>
							<ul class="sf-menu sf-vertical">
								<li class="current">
									<a href="index.php">Newsy</a>
								</li>
								<li>
									<a href="index.php">Koncerty</a>
								</li>
								<li>
									<a href="blog.html">Dyskografia</a>
								</li>
								<li>
									<a href="contact.html">Sklad</a>
								</li>
								<li>
									<a href="index.php">Forum</a>
								</li>
								<li>
									<a href="index.php">Multimedia</a>
								</li>
								<li>
									<a href="blog.html">Sklep</a>
								</li>
								<li>
									<a href="contact.html">Kontakt</a>
								</li>
							</ul>
							
						<div class="clearfix"></div>
						<div id="navigation-base"></div>
						</nav>
						
						
						
					
						
						<div class="content-padding">
							<h2 class="twitter-heading">Twitter</h2>
							<div id="tweets-sidebar"><div class="clearfix"></div></div><!-- twitter dynamically pulled in, edit username in the script.js file -->
<% if current_user %>
  Witaj <%= current_user.name %>!
  <%= link_to "Wyloguj", signout_path %>
<% else %>
							<center><a href="/auth/twitter" target="_blank" class="button">Logowanie</a></center>
<% end %>
						</div>
				
					<div class="clearfix"></div>
						</div><!-- close #sidebar-container -->
					</div><!-- close #sidebar-container-bg-right" -->
				</div><!-- close #sidebar-container-bg-left -->
				
				<div id="sidebar-bottom">
					<div id="sidebar-bottom-right"></div>
				</div><!-- close #sidebar-bottom -->
			</aside><!-- SIDEBAR CLOSED -->
			
			
			
			<div id="content">
				<div id="content-top">
					<div id="content-top-right"></div>
				</div><!-- close #content-top -->
				
				<div id="content-container-bg-left">
					<div id="content-container-bg-right">
						<div id="content-container">
						
						<div class="content-padding"> 
							<h1 class="page-title">Witaj</h1>
							<h2>To jest nasz projekt na 5!</h2>
						</div><!-- close .content-padding -->
						
						<iframe width="500" height="315" src="http://www.youtube.com/embed/2zahfPA96BI" frameborder="0" allowfullscreen></iframe>
						
						
						<hr />
						
						<div class="content-padding"> 
							<h1>Oj tam oj tam</h1>
						</div><!-- close .content-padding -->
							<a href="blog-single.html"><img src="assets/images/demo/blog-post.gif" width="500" height="265" alt="" /></a>
						<div class="content-padding"> 
							<div class="comments"><a href="blog-single.html#comments">12</a></div>
							<h2><a href="blog-single.html">Pierwszy news</a></h2>
						</div><!-- close .content-padding -->
						<div class="post-details">Napisane przez <a href="#">Michal</a> @ 11/28/2011 w kategori <a href="#">coding</a>, <a href="#">news</a></div><!-- close .post-details -->
						<div class="content-padding"> 
							<p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
							<a href="blog-single.html" class="button">Czytaj dalej</a>
						</div><!-- close .content-padding -->
						
						
						
						<div class="clearfix"></div>
						</div><!-- close #content-container -->
					</div><!-- close #content-container-bg-right" -->
				</div><!-- close #content-container-bg-left -->
				
				
				
				<div id="content-bottom">
					<div id="content-bottom-right"></div>
				</div><!-- close #content-bottom -->
			</div><!-- close #content -->
			
			

		<div class="clearfix"></div>
	<div id="main-base"></div><!-- close #main-base -->
</div><!-- close #main -->
	
	<footer>
		<div id="footer-container">
			Copyright &copy; 2011 - Happysad - All rights reserved - Designed by <a href="http://sigma.ug.edu.pl:18644" target="_blank" class="color-change">PodMurzynem</a>.
		</div><!-- close #footer-container -->
	</footer>
</div> <!-- end of #container -->


<div class="clearfix"></div>

</body>
</html>
